name=wd	password=	account=summer	ip=192.168.1.104

name=rankServer	password=	account=ubuntu	ip=34.208.226.212

name=tempweb	password=	account=txia	ip=35.185.169.251
name=gpu2	password=	account=summer	ip=192.168.1.201
name=gpu3	password=	account=summer	ip=192.168.1.208

name=asr	password=	account=summer	ip=192.168.1.209
name=robot	password=	account=ubuntu	ip=ec2-54-169-158-182.ap-southeast-1.compute.amazonaws.com

