name=wd	password=	account=summer	ip=192.168.1.104

name=robot-demo	password=	account=ubuntu	ip=52.221.194.205

name=rankServer	password=	account=ubuntu	ip=34.208.226.212

name=rankServerGoogle	password=	account=summerrainet2008	ip=35.185.203.218
name=rankServerGoogle1	password=	account=txia	ip=104.19junqin9.126.250

name=rankServerGoogle2	password=	account=txia	ip=35.185.212.24
name=rankServerGoogle3	password=	account=txia	ip=104.198.101.39

name=tempweb	password=	account=txia	ip=35.185.169.251
name=gpu2	password=	account=summer	ip=192.168.1.201
name=gpu3	password=	account=summer	ip=192.168.1.208

name=asr	password=	account=summer	ip=192.168.1.209

